{
    "openapi": "3.0.1",
    "info": {
        "title": "Wallet Control",
        "description": "Esta api foi criada para o treinamento JsExpress",
        "contact": {
            "email": "marcoslopes.dev@gmail.com"
        },
        "version": "Beta"
    },
    "servers": [
        {
            "url": "https://apiwalletcontrol.dbmcode.com/v1",
            "description": "url para resalizar testes"
        },
        {
            "url": "http://localhost:3000",
            "description": "rodar na maquina local"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "summary": "Login de usuário",
                "description": "Essa rota responsável pela autenticao do usuário no sistema, ela retorna um token",
                "tags": ["Login"],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "first_name": {
                                            "type": "string",
                                            "example": "Marcia"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "example": "Silva"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "marcia@teste.com.br"
                                        },
                                        "photo": {
                                            "type": "string",
                                            "example": "/storage/4564564.png"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "jwt-asdasdmlmd;oqweodncc897y987d987as98d7abcascduacb"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user": {
            "get": {
                "summary": "Busca usuário",
                "description": "Retorna o user do sistema que está logado",
                "tags": ["Usuario"],
                "responses": {
                    "400": {
                        "description": "Usuário não encontrado ou não registrado"
                    },
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "first_name": {
                                            "type": "string",
                                            "examplo": "Marcia"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "examplo": "Silva"
                                        },
                                        "email": {
                                            "type": "string",
                                            "examplo": "marcia@teste.com.br"
                                        },
                                        "photo": {
                                            "type": "string",
                                            "examplo": "/storage/4564564.png"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Cria um novo usuário",
                "description": "Cria um novo usuário no sistema",
                "tags": ["Usuario"],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "fulano"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Silva"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "fulana@teste.com.br"
                                    },
                                    "passwd": {
                                        "type": "string",
                                        "example": "aquivaiasenha"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "first_name": {
                                            "type": "string",
                                            "examplo": "Marcia"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "examplo": "Silva"
                                        },
                                        "email": {
                                            "type": "string",
                                            "examplo": "marcia@teste.com.br"
                                        },
                                        "photo": {
                                            "type": "string",
                                            "examplo": "/storage/4564564.png"
                                        },
                                        "token": {
                                            "type": "string",
                                            "exemplo": "jwt-asdasdmlmd;oqweodncc897y987d987as98d7abcascduacb"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Atualizar dados para do usuário",
                "description": "Nessa rota é possível atualizar dados do usuário que esta logado",
                "tags": ["Usuario"],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "fulano"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Silva"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "fulana@teste.com.br"
                                    },
                                    "passwd": {
                                        "type": "string",
                                        "example": "aquivaiasenha"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "first_name": {
                                            "type": "string",
                                            "examplo": "Marcia"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "examplo": "Silva"
                                        },
                                        "email": {
                                            "type": "string",
                                            "examplo": "marcia@teste.com.br"
                                        },
                                        "photo": {
                                            "type": "string",
                                            "examplo": "/storage/4564564.png"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dash": {
            "get": {
                "summary": "dados para o painel",
                "tags": ["Dash"],
                "responses": {
                    "200": {
                        "description": "ok"
                    }
                }
            }
        },
        "/wallet": {
            "get": {
                "summary": "Retorna todas as carteiras",
                "description": "Essa rota retorna todas as carteiras registradas",
                "tags": ["Wallet"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": "2"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "name wallet"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "description wallet"
                                        },
                                        "option_wallet": {
                                            "type": "integer",
                                            "example": "1 or 0 -significa ativo or inativo como preferencia do sistema"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2023-10-01T14:30:18.000Z"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Não foi encontrado dados, faça um registro ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Não econstramos a wallet solicitada"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": null
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            },
            "post": {
                "summary": "Cria uma nova carteira",
                "tags": ["Wallet"],
                "description": "Rota para criar uma nova carteira",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "minha Carteira"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "carteira principal"
                                    },
                                    "option_wallet": {
                                        "type": "integer",
                                        "example": "1 or 0 -significa ativo or inativo como preferencia do sistema"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": "2"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "name wallet"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "description wallet"
                                        },
                                        "option_wallet": {
                                            "type": "integer",
                                            "example": "1 or 0 -significa ativo or inativo como preferencia do sistema"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2023-10-01T14:30:18.000Z"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wallet/{id}": {
            "get": {
                "summary": "Busca por 'id'",
                "tags": ["Wallet"],
                "description": "Essa rota retorna todas as carteiras registradas",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da carteira",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "minha Carteira"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "carteira principal"
                                        },
                                        "option_wallet": {
                                            "type": "integer",
                                            "example": "1 or 0 -significa ativo or inativo como preferencia do sistema"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Atualiza carteira",
                "tags": ["Wallet"],
                "responses": {}
            },
            "delete": {
                "summary": "Remove carteira",
                "tags": ["Wallet"],
                "responses": {}
            }
        },
        "/category": {
            "get": {
                "summary": "Lista todas as categorias",
                "tags": ["Category"],
                "responses": {
                    "200": {
                        "description": "ok"
                    }
                }
            },
            "post": {
                "summary": "Cria categoria",
                "tags": ["Category"],
                "responses": {
                    "200": {
                        "description": "ok"
                    }
                }
            }
        },
        "/category/{id}": {
            "get": {
                "summary": "Lista categoria pelo id",
                "tags": ["Category"],
                "responses": {
                    "200": {
                        "description": "ok"
                    }
                }
            },
            "put": {
                "summary": "Atualiza categoria",
                "tags": ["Category"],
                "responses": {
                    "200": {
                        "description": "ok"
                    }
                }
            },
            "delete": {
                "summary": "Deleta a categoria ",
                "tags": ["Category"],
                "responses": {
                    "200": {
                        "description": "ok"
                    }
                }
            }
        },
        "/invoice": {
            "get": {
                "summary": "Busca despesa",
                "description": "Retorna um unico lançamento",
                "tags": ["Invoice"]
            }
        },
        "/invoices": {
            "get": {
                "summary": " retorna todos os lançamentos do mês"
            }
        }
    }
}
