a {
    text-decoration: none;
}

:root {
    /*medidas*/
    --width-container: 1131px;

    /*color*/

    --color-body: #f5f5f5;
    --color-font: #474648;
    --color-bg-darkmode: #fff;
    --color-font-darkmode: #fff;
    --color-font-disable: #a7a7a7;
    --color-bg-indicador: #26293a;

    --color-row-table: #f1f1f1;

    --color-input-border: #d1d1d1;

    /*color default*/
    --color-default: #bdbdbd;
    --color-green: #2ecc71;
    --color-red: #f44336;
    --color-yellow: #ff8f00;
    --color-blue: #3a52ff;
    --color-white: #fff;
    --color-tag: #fff;

    --hover-color-green: #218c74;
    --hover-color-blue: #66d4f1;
    --hover-color-yellow: #fcd277;
    --hover-color-red: #f76c82;
    --hover-duration: 0.3s;

    --liner-gradiente: linear-gradient(to right, #000, rgb(39, 39, 39), #555);
    --liner-gradiente-green: linear-gradient(
        to right,
        #4260e6 0%,
        #4e98d4 50%,
        #2e52c9 100%
    );

    --radius-normal: 5px;
    --radius-medium: 10px;
    --radius-large: 20px;
    --radius-round: 50%;
}

.radius {
    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
}

.rounded {
    -webkit-border-radius: var(--radius-round);
    -moz-border-radius: var(--radius-round);
    border-radius: var(--radius-round);
}

.box-shadow {
    -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.6);
}

/*MESSAGES*/

.message {
    color: #ffffff;
    font-size: var(--font-normal);
    font-weight: var(--weight-strong);

    display: block;
    width: 100%;
    padding: 20px;
    border: 2px solid #cccccc;
    margin-bottom: var(--area-box);

    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
}

.message.success {
    --color: var(--color-green);
    color: var(--color);
    border-color: var(--color);
}

.message.info {
    --color: var(--color-blue);
    color: var(--color);
    border-color: var(--color);
}

.message.warning {
    --color: var(--color-yellow);
    color: var(--color);
    border-color: var(--color);
}

.message.error {
    --color: var(--color-red);
    color: var(--color);
    border-color: var(--color);
}
/*AJAX RESPONSES MESSAGES*/

.ajax_response {
    position: fixed;
    padding: 20px 20px 0 0;
    z-index: 998;

    top: 0;
    right: 0;
    width: 300px;
    max-width: 100%;
}

.ajax_response .message {
    color: #ffffff;
    font-size: var(--font-min);
    font-weight: var(--weight-normal);
    overflow: hidden;
    border: none;

    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 15px 20px 15px;
    background: #333333;
    margin-bottom: 15px;
    position: relative;

    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);

    cursor: pointer;
}

.ajax_response .message:before {
    flex-basis: 0;
    margin: -5px 15px 0 0 !important;
    font-size: calc(var(--font-max) * 1.2);
    color: rgba(0, 0, 0, 0.5);
}

.ajax_response .message_time {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
}

.ajax_response .message.success {
    background: var(--color-green);
}

.ajax_response .message.info {
    background: var(--color-blue);
}

.ajax_response .message.warning {
    background: var(--color-yellow);
}

.ajax_response .message.error {
    background: var(--color-red);
}

/*DEFAULT LOAD*/
.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.ajax_load_box {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: var(--weight-bold);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
    border: 16px solid #e3e3e3;
    border-top: 16px solid var(--hover-color-blue);
    border-radius: 50%;
    margin: auto;
    width: 80px;
    height: 80px;

    -webkit-animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
    margin-top: 15px;
    font-weight: var(--weight-strong);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.ajax_load_flex {
    display: flex;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*ICONS NORMALIZE*/
[class^="fa-"]:before,
[class*=" fa-"]:before {
    position: relative !important;
    /*top: .125em !Important;*/
    margin-right: 0.6em !important;
}

/*ICONS NORMALIZE BUTTONS*/
.icon-normalize [class^="fa-"]:before,
.icon-normalize [class*=" fa-"]:before {
    position: relative !important;
    /*top: .125em !Important;*/
    margin-right: 0em !important;
}
/*DISPLAY*/
.ds-block {
    display: block;
}

.ds-flex {
    display: flex;
}

.ds-inblock {
    display: inline-block;
}

.ds-inline {
    display: inline;
}

.ds-none {
    display: none;
}

.form-inline {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.flex-item {
    flex: 1 1 auto;
    margin: 2px;
    flex-flow: row wrap;
}
