.btn-mobile {
    width: 32px;
    height: 32px;
    margin: 0px 10px;
    cursor: pointer;
    display: none;
}

.btn-mobile span {
    width: 21px;
    height: 3px;
    display: inline-block;
    background-color: #272727;
    margin-left: 1rem;
    position: relative;
    transition: 0.2s;
}

.btn-mobile span::before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 3px;
    background-color: #272727;
    position: absolute;
    top: -7px;
    left: 0;
    transition: 0.2s;
}
.btn-mobile span::after {
    content: "";
    display: inline-block;
    width: 21px;
    height: 3px;
    background-color: #272727;
    position: absolute;
    top: 7px;
    left: 0;
    transition: 0.2s;
}

.btn-mobile.active span {
    background-color: transparent;
}
.btn-mobile.active span::before {
    transform: rotate(-45deg);
    top: 0;
}
.btn-mobile.active span::after {
    transform: rotate(45deg);
    top: 0;
}
@media (max-width: 920px) {
    .btn-mobile {
        display: block;
    }
}
