@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Karla", sans-serif;
    background-color: #d0d0ce;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-card {
    border: 0;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
    /*! max-width: 500px; */
    margin: 0 auto;
    background-color: #fff;
}

.login-card .card-body {
    padding: 20px 27px 20px 27px;
    transition: all 0.3s;
}

.brand-wrapper {
    margin-bottom: 16px;
}
.login-card-description {
    font-size: 17px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}

.login-card .login-btn {
    padding: 9px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    border: 1px solid #000;
}

.login-card .login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.login-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin: 0px 30px 0 0px;
}
.box-img {
    position: relative;
}

.box-forget {
    display: none;
}

.form-step {
    transition: all 0.3s;
}
@media (max-width: 767.99px) {
    .card-body {
        padding: 52px 49px;
    }

    form {
        max-width: 326px;
    }
}

/* verifica*/
#response-ajax {
    text-align: center;
    margin-bottom: 30px;
}

/*PLACEHOLDER ACTION*/

.app_form .input-group {
    position: relative;
}
.app_form .input-group span {
    position: absolute;
    left: 5px;
    top: 20px;
    transition: 0.5s;
    pointer-events: none;
}

.app_form .input-group input:focus ~ span,
.app_form .input-group input:valid ~ span {
    transform: translateY(-32px);
    font-size: 14px;
    color: #000;
    left: 0;
}

.app_form .input-group input:focus {
    box-shadow: -1px -1px 3px 1px #54a0ff, 1px 1px 3px 1px #54a0ff;
}

/**INPUT**/
.input-group {
    margin-bottom: 20px;
    transition: all 0.3s;
}
.input-control {
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-input-border);
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 3px;
    margin-top: 9px;
    outline: none;
    background-color: var(--color-input);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.input-group_g2:first-child {
    margin-right: 20px;
}
.input-group_g2 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.input-group_g2 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.input-group_g2:first-child {
    margin-right: 20px;
}

.app_form textarea {
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 3px;
    margin-top: 9px;
    outline: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.app_form label {
    color: var(--color-font-label);
}
.user-teste {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 2rem;
}
.remenber {
    margin-bottom: 2rem;
}
.remenber label {
    cursor: pointer;
}

/* ALERTA */
ajax_response {
    position: fixed;
    padding: 20px 20px 0 0;
    z-index: 998;
    top: 0;
    right: 0;
    width: 300px;
    max-width: 100%;
}

.alert .message_login {
    padding: 19px 28px;
    position: fixed;
    top: 20px;
    right: 56px;
    /* background-color: chocolate; */
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
    animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.alert .message_login:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    animation: time 3s forwards;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes time {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.alert .message_login.success {
    background: var(--color-green);
}

.alert .message_login.info {
    background: var(--color-blue);
}

.alert .message_login.warning {
    background: var(--color-yellow);
}

.alert .message_login.error {
    background: var(--color-red);
}
