@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Sarabun", sans-serif;
    box-sizing: border-box;
}

.darkmode:root {
    --color-body: #191b23;
    --color-font: #a6afcc;
    --color-white: #a6afcc;
    --color-bg-darkmode: #26293a;
    --color-font-darkmode: #4b4a4a;
    --color-font-disable: #a6afcc;
    --color-input-border: #a6afcc;
    --color-row-table: #26293a;

    --color-bg-indicador: #fff;
    --liner-gradiente: linear-gradient(to right, #d4d0d0, #fff);
}

body {
    background-color: var(--color-body);
}

.darkmode__box {
    width: 130px;
    background-image: var(--liner-gradiente);
    position: fixed;
    bottom: 30px;
    right: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 999;
}

.darkmode__box span {
    color: var(--color-font-darkmode);
    margin-left: 10px;
    font-size: 18px;
}
.darkmode__btn {
    width: 46px;
    height: 25px;
    position: relative;
    background-color: var(--color-bg-indicador);
    border-radius: 30px;
}
#darkmode__indicador {
    width: 25px;
    height: 25px;
    background: #b8b7b7;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: scale(0.8);
    transition: 0.5s;
}
#darkmode__indicador.active {
    left: 21px;
}

.logo--dark {
    display: none;
}

.darkmode .logo--dark {
    display: block;
}
.darkmode .logo--used {
    display: none;
}

.app__container {
    width: 100%;
    max-width: var(--width-container);
    margin: 0 auto;
    background: var(--color-bg-darkmode);
    padding: 20px;
    border-radius: 6px;
}
/*
###############
### HEADER ####
###############
*/

.header {
    width: 100%;
    height: 109px;
}

.header__info {
    max-width: var(--width-container);
    height: 60px;
    display: grid;
    grid-template-areas: "header__logo . header__user";
    align-items: center;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 1fr;
}

.header__logo {
    grid-area: header__logo;
}
.header__user {
    grid-area: header__user;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    width: 110px;
}

.header__user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.header__user i {
    color: var(--color-font);
}
.header__user p {
    color: var(--color-font);
}

.header__navigation {
    width: 100%;
    height: 50px;
    background-color: var(--color-bg-darkmode);
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.2);
}

.header__navigation nav {
    max-width: var(--width-container);
    height: 100%;
    margin: 0 auto;
}
.header__navigation nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navigation nav ul li {
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
}
.header__navigation nav ul li a {
    font-weight: bold;
    color: var(--color-font);
    text-decoration: none;
}
/*
#########################
#### NAVIGATION MOBILE ####
#########################
*/

.mobile__menu {
    background-image: linear-gradient(to bottom, #3a52ff 30%, #001ad3 100%);
    display: none;
}
.mobile__menu .mm__header {
    box-shadow: 0 1px 3px rgb(0 0 0 / 7%);
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
}
.mobile__menu .mm__header .logo--mobile {
    width: 100px;
}
.mobile__menu .mm__header .mm-buttons {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.mobile__menu .navigation__mobile {
    display: none;
}
.mobile__menu .navigation__mobile ul li {
    list-style: none;
}
.mobile__menu .navigation__mobile .nm__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 20px;
}

.navigation__mobile .nm__item a {
    display: block;
    color: #fff;
    padding: 20px 0;
}

/*
#########################
#### HEADER DA SEÇÃO ####
#########################
*/
.header__section {
    width: 100%;
    max-width: var(--width-container);
    margin: 2rem auto;
    color: var(--color-font);
}
.header__section hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wallet-panels select {
    width: 200px;
    height: 35px;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
}

/*
###################
#### DASHBOARD ####
###################
*/

.view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: var(--width-container);
    margin: 10px auto;
}

.view__chart {
    background-color: var(--color-bg-darkmode);
    border-radius: 6px;
}

.view__panels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.view__item {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg-darkmode);
    border-radius: 6px;
    transition: 0.5s;
}

.view__item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}
.view__item:hover h3 {
    background: var(--color-blue);
    color: var(--color-white);
    border: 2px solid var(--color-blue);
}
.view__item h3 {
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    color: var(--color-blue);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view__item p {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 1rem;
    color: var(--color-font);
}
.view__item span {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-font-disable);
}

/*
##################
####  WALLET  ####
##################
*/

.wallet {
    width: 100%;
    max-width: var(--width-container);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.wallet__panels {
    display: flex;
    flex-grow: 1;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg-darkmode);
    border-radius: 6px;
    transition: 0.5s;
    margin: 5px;
    color: var(--color-font);
    text-decoration: none;
}

/*
################
### INVOICE  ###
################
*/

.modal__container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__container .modal__box {
    width: 600px;
    min-height: 300px;
    background: #fff;
    padding: 40px;
    border-radius: 6px;
}
.modal__container .modal__box .check__title {
    margin-bottom: 30px;
}

.form__filter form {
    display: flex;
}
.form__filter input {
    flex-basis: 200px;
}
.form__filter .btn {
    height: 39px;
    margin-left: 8px;
    margin-top: 9px;
}

/**ICON INCOME */

.fa-check-circle {
    color: #28a745;
    margin-right: 10px;
    font-size: 19px;
    cursor: pointer;
}

.fa-times-circle {
    color: #dc3545;
    margin-right: 10px;
    cursor: pointer;
    font-size: 19px;
}

/*
###############
### PERFIL ###
##############
 */

.perfil-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.capa_perfil {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.upload_img_perfil {
    text-align: center;
}

.upload_img_perfil i {
    font-size: 30px;
    color: #36ba9b;
    cursor: pointer;
    /* margin-left: 27px; */
}
#user_perfil {
    width: 100px;
    position: absolute;
    left: -100px;
}
/*
##################
####  FOOTER  ####
##################
*/

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-font);
}

/*LISTAS TABLE*/

.list {
    width: 100%;
    max-width: var(--width-container);
    /*! grid-column: 1 / span 2; */
    margin-bottom: 2rem;
    background: var(--color-bg-darkmode);
    padding: 10px;
    border-radius: 6px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}
.table thead {
    box-shadow: 0 2px 3px rgb(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.table td {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    font-size: 13px;
    color: var(--color-font);
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    color: var(--color-font);
    font-size: 13px;
}
.table tbody tr:nth-of-type(odd) {
    background: var(--color-row-table);
}
.list__header {
    color: var(--color-font);
    font-size: 13px;
}

.table td a i {
    color: var(--color-blue);
}
.table__tag {
    padding: 0px 15px 2px 15px;
    border-radius: 5px;
    color: var(--color-tag);
    font-size: 11px;
}

.table__tag--pay {
    background: var(--color-green);
}
.table__tag--unpaid {
    background: var(--color-red);
}

/**INPUT**/
.input-group {
    margin-bottom: 20px;
    transition: all 0.3s;
}
.input-control {
    width: 100%;
    height: 38px;
    border: 2px solid var(--color-input-border);
    color: var(--color-font);
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 9px;
    outline: var(--color-blue);
    background-color: var(--color-bg-darkmode);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.input-group_g2:first-child {
    margin-right: 20px;
}
.input-group_g2 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.input-group_g2 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.input-group_g2:first-child {
    margin-right: 20px;
}

.app_form textarea {
    width: 100%;
    border: 2px solid var(--color-input-border);
    background-color: var(--color-bg-darkmode);
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 3px;
    margin-top: 9px;
    outline: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.app_form label {
    color: var(--color-font);
    font-size: 14px;
}

/*BUTTONS*/
.app_form .btn {
    font-size: var(--font-normal);
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 15px;
}
.btn {
    display: inline-block;
    padding: 5px 10px;
    background: #555555;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition-duration: var(--hover-duration);
}

.btn--green {
    background-color: var(--color-green);
}

.btn--green:hover {
    background-color: var(--hover-color-green);
}

.btn--blue {
    background-color: var(--color-blue);
}

.btn--blue:hover {
    background-color: var(--hover-color-blue);
}

.btn--red {
    background-color: var(--color-red);
}

.btn--red:hover {
    background-color: var(--hover-color-red);
}

.btn--yellow {
    background-color: var(--color-yellow);
}

.btn--yellow:hover {
    background-color: var(--hover-color-yellow);
}

/*
#################
### PAGINATOR ###
#################
*/

.paginator {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    text-align: center;
    font-family: "Spinnaker";
}

.paginator_item {
    display: inline-block;
    margin: 0 10px;
    padding: 4px 12px;
    background: #34495e;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.paginator_item:hover {
    background: #8a6ed5;
}

.paginator_active,
.paginator_active:hover {
    background: #cccccc;
}

.text-color-red {
    color: red;
}
.text-color-green {
    color: green;
}

/*##############
### CASHFLOW ###
################
*/
.t-cashflow {
    width: 100%;
    border-collapse: collapse;
}

.t-cashflow thead tr th {
    /* width: 138px; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 2px;
    color: var(--color-font);
    font-size: 16px;
    background-color: #b6b80b;
    /* border:1px solid; */
}
.t-cashflow thead tr th:nth-child(1) {
    text-align: left;
    padding-left: 6px;
}
.t-cashflow td {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    /* border:1px solid; */
    font-size: 13px;
    color: var(--color-font);
}
.t-cashflow tbody td:first-child {
    /* background-color: #f1f1f1; */
    color: #121111;
    font-size: 15px;
    width: 56px;
}
.t-cashflow tbody td:nth-child(2) {
    text-align: center;
}
.cash-form-search input {
    width: 200px;
}
.tb-expense {
    background-color: #bdc3c7 !important;
}
.tb-income {
    background-color: #bdc3c7 !important;
}
.tb-balance {
    background-color: #bdc3c7 !important;
}

/*
###############
### REGISTER ##
###############
*/

.container-register {
    width: 100%;
    max-width: var(--width-container);
    margin: 0 auto;
}
.header-register-content {
    width: 100%;
    height: 50vh;
    position: relative;
}
.header-content-bg {
    width: 100%;
    height: 50vh;
    object-fit: center;
}
.header-content-text {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-register {
    width: 100%;
    height: 100px;
    background-color: #efefef;
    box-shadow: 2px 0 10px rgb(0 0 0 / 60%);
}

.nav-register {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-register a img {
    width: 130px;
}
.header-content-textbox {
    width: 600px;
    max-width: 100%;
    margin: 80px auto;
    text-align: center;
}
.header-content-text h1 {
    color: #fff;
    font-size: 3em;
    text-shadow: 1px 2px 6px rgba(39, 174, 96, 0.6);
}

.box-form-register {
    width: 600px;
    margin-top: 2rem;
}
.title-form-register {
    margin: 2rem 0;
    text-align: center;
    font-size: 16px;
}

/** SOBRE **/
.box-img-stack {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img-stack img {
    width: 50px;
    height: 50px;
}
.img-stack p {
    text-align: center;
    font-weight: bold;
}
/*#### MEDIA QUERIE ####*/

@media (max-width: 1130px) {
}

@media (max-width: 950px) {
    .header__section {
        padding: 0 30px;
    }
    .view {
        grid-template-columns: 1fr;
        padding: 30px;
    }
    .list {
        grid-column: auto;
    }

    .header__logo,
    .header__navigation {
        display: none;
    }
    .mobile__menu {
        display: block;
    }
}

@media (max-width: 730px) {
    .header__info {
        grid-template-columns: 1fr 0fr 3fr;
    }
}

@media (max-width: 480px) {
    .view__panels {
        grid-template-columns: 100%;
    }
    .view__item p {
        font-size: 30px;
    }

    .flex-column {
        flex-direction: column;
    }
    .mobile-none {
        display: none;
    }
}
