@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Maven Pro", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #eef4f9;
}
.app__container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #edecec;
    background: #fff;
}
/*
###############
### APP ####
###############
*/
.app-main {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
.nav-top {
    width: 100%;
    height: 61px;
    
}
/*
##################
#### SIDEBAR ####
#################
*/
.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    background-color: var(--color-bg-dash);
    transition: all 0.5s;
    z-index:100;
}
.app-content {
    width: calc(100% - 300px);
    left: 300px;
    position: absolute;
    transition: all 0.5s;
}

.sidebar.active {
    margin-left: 0px;
}

@media (max-width: 920px) {
    .sidebar {
        margin-left: -300px;
    }
    .app-content {
        width: 100%;
        left: 0;
        
    }
}
.sidebar .sidebar-logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}
.sidebar .sidebar-logo img {
    width: 140px;
}

@media (max-width: 920px) {
    .sidebar .sidebar-logo {
        margin-top:20px;
    }
}
.sidebar-content {
    padding: 0.1px;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-dash);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-nav {
    margin-top: 30px;
}

.sidebar-nav ul li,
.footer-sidebar ul li {
    padding: 29px 0px;
    list-style: none;
    margin-left: 81px;
}
.sidebar-nav ul li a,
.footer-sidebar ul li a {
    color: #6a6a6a;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
}
.sidebar-nav ul li a:hover,
.footer-sidebar ul li a:hover {
    color: #fff;
}
.sidebar-nav .nm__item span,
.footer-sidebar .nm__item span {
    margin-right: 20px;
    color: #464e56;
    font-size: 25px;
}
.footer-sidebar {
    margin-bottom: 20px;
}
/*
#########################
#### MENU BAR ####
#########################
*/
/**MENU BAR**/

.btn-menu-mobile {
    width: 67px;
    height: 60px;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 200;
}

@media (max-width: 920px) {
    .btn-menu-mobile {
        display: block;
        position: fixed;
    }
}
.nav-top {
    display: flex;
    align-items: center;
   
}
.nav-top span {
    width: 29px;
    height: 4px;
    display: block;
    position: relative;
    background-color: #1b232a;
    left: 42px;
    top: 26px;
    border-radius: 2px;
    transition: 0.5s;
}

.nav-top span::before {
    content: "";
    width: 20px;
    height: 4px;
    display: block;
    position: absolute;
    background-color: #1b232a;
    left: 0px;
    top: -7px;
    border-radius: 2px;
    transition: 0.5s;
}
.nav-top span::after {
    content: "";
    width: 23px;
    height: 4px;
    display: block;
    position: absolute;
    background-color: #1b232a;
    left: 0px;
    top: 7px;
    border-radius: 2px;
    transition: 0.5s;
}
.nav-top span.active {
    width: 0px;
}

.nav-top span.active::before {
    transform: rotate(-45deg);
    top: 0;
    width: 23px;
    background-color:#fff;


}
.nav-top span.active::after {
    transform: rotate(45deg);
    top: 0;
    background-color:#fff;
}

@media(max-width:900px){
     .nav-top {
        /* position:absolute; */
        /* z-index:200; */
    }
}
/*
###################
#### DASHBOARD ####
###################
*/
.dash-content {
    height: calc(100% - 61px);
    padding: 40px;
}
.dash-grid {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 40px;
}

@media (max-width: 590px) {
    .dash-grid {
        grid-template-columns: 250px;
    }
}
.dash-user {
    text-align: center;
    margin-bottom: 1rem;
}
.dash-user p {
    margin-bottom: 5px;
}
.dash-user a {
    color: #474648;
    font-size: 28px;
    font-weight: bold;
}
.dash-user img {
    width: 89px;
    margin: 40px 0 20px 0;
}
.dash-user-item {
    display: flex;
    border: 1px solid #e1dddd;
    padding: 12px 0 12px 25px;
    border-radius: 10px;
    margin-bottom: 1rem;
    background: #fff;
}
.dash-user-item h3 {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid rgb(175 163 163 / 50%);
    font-size: 23px;
    margin-right: 26px;
    text-align: center;
    line-height: 38px;
    color: #35383a;
}
.dash-user-item h3.bg-green {
    background-color: rgba(26, 188, 156, 0.5);
}
.dash-user-item h3.bg-red {
    background-color: rgb(231 76 60 / 50%);
}

.dash-user-item p {
    font-weight: bold;
}
@media (max-width: 780px) {
    .dash-user {
        display: none;
    }
}

.dash__balance {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 6px;
    font-size: 29px;
    color: #000;
}
.dash__balance h3 {
    margin-bottom: 1rem;
}
.view__chart {
    background-color: #fff;
    border-radius: 20px;
}
/*
#########################
#### HEADER DA SEÇÃO ####
#########################
*/
.header__section {
    width: 100%;
    color: var(--color-font);
}
.header__section hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.header__title h4 {
    font-size: 22px;
}

#wallet-panels select {
    width: 200px;
    height: 35px;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
}
.title-dash {
    font-size: 22px;
}
/*
##################
####  WALLET  ####
##################
*/

.wallet {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.wallet__panels {
    display: flex;
    flex-grow: 1;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg-darkmode);
    border-radius: 6px;
    transition: 0.5s;
    margin: 5px;
    color: var(--color-font);
    text-decoration: none;
}

/*
################
### INVOICE  ###
################
*/

.modal__container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__container .modal__box {
    width: 600px;
    min-height: 300px;
    background: #fff;
    padding: 40px;
    border-radius: 6px;
}
.modal__container .modal__box .check__title {
    margin-bottom: 30px;
}
.form__filter {
    margin-bottom: 2rem;
}

.form__filter form {
    display: flex;
}
.form__filter input {
    flex-basis: 200px;
}
.form__filter .btn {
    height: 39px;
    margin-left: 8px;
    margin-top: 9px;
}

/**ICON INCOME */

.fa-check-circle {
    color: #28a745;
    margin-right: 10px;
    font-size: 19px;
    cursor: pointer;
}

.fa-times-circle {
    color: #dc3545;
    margin-right: 10px;
    cursor: pointer;
    font-size: 19px;
}

/*
###############
### PERFIL ###
##############
 */

.perfil-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.capa_perfil {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.upload_img_perfil {
    text-align: center;
}

.upload_img_perfil i {
    font-size: 30px;
    color: #36ba9b;
    cursor: pointer;
    /* margin-left: 27px; */
}
#user_perfil {
    width: 100px;
    position: absolute;
    left: -10000px;
}
/*
##################
####  FOOTER  ####
##################
*/

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-font);
}

/*LISTAS TABLE*/

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 15px;
    font-size: 16px;
    color: var(--color-font);
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 13px;
    padding-right: 2px;
    text-align: left;
    color: var(--color-font);
    font-size: 13px;
}

.table__header {
    color: var(--color-font);
    font-size: 16px;
    margin-bottom: 1rem;
}
.table__box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    background: #fff;
}

.table td a i {
    color: var(--color-blue);
    font-size: 16px;
}
.table__tag {
    padding: 0px 15px 2px 15px;
    border-radius: 5px;
    color: var(--color-tag);
    font-size: 11px;
}

.table__tag--pay {
    background: var(--color-green);
}
.table__tag--unpaid {
    background: var(--color-red);
}
@media (max-width: 620px) {
    .table-responsive {
        overflow-x: scroll;
    }
}

/**INPUT**/
.input-group {
    margin-bottom: 20px;
    transition: all 0.3s;
}
.input-control {
    width: 100%;
    height: 38px;
    border: 2px solid var(--color-input-border);
    color: var(--color-font);
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 9px;
    outline: var(--color-blue);
    background-color: var(--color-bg-darkmode);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.input-group_g2:first-child {
    margin-right: 20px;
}
.input-group_g2 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.input-group_g2 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.input-group_g2:first-child {
    margin-right: 20px;
}

.app_form textarea {
    width: 100%;
    border: 2px solid var(--color-input-border);
    background-color: var(--color-bg-darkmode);
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 3px;
    margin-top: 9px;
    outline: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.app_form label {
    color: var(--color-font);
    font-size: 14px;
}

/*BUTTONS*/
.app_form .btn {
    font-size: var(--font-normal);
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 15px;
}
.btn {
    display: inline-block;
    padding: 5px 10px;
    background: #555555;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition-duration: var(--hover-duration);
}
.btn-rouded {
    width: 45px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid rgb(175 163 163 / 50%);
    font-size: 17px;
    margin-right: 26px;
    text-align: center;
    line-height: 43px;
    color: #ffffff;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
}
.btn--green {
    background-color: var(--color-green);
}

.btn--green:hover {
    background-color: var(--hover-color-green);
}

.btn--blue {
    background-color: var(--color-blue);
}

.btn--blue:hover {
    background-color: var(--hover-color-blue);
}

.btn--red {
    background-color: var(--color-red);
}

.btn--red:hover {
    background-color: var(--hover-color-red);
}

.btn--yellow {
    background-color: var(--color-yellow);
}

.btn--yellow:hover {
    background-color: var(--hover-color-yellow);
}

/*
#################
### PAGINATOR ###
#################
*/

.paginator {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    text-align: center;
    font-family: "Spinnaker";
}

.paginator_item {
    display: inline-block;
    margin: 0 10px;
    padding: 4px 12px;
    background: #34495e;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.paginator_item:hover {
    background: #8a6ed5;
}

.paginator_active,
.paginator_active:hover {
    background: #cccccc;
}

.text-color-red {
    color: red;
}
.text-color-green {
    color: green;
}

/*##############
### CASHFLOW ###
################
*/
.t-cashflow {
    width: 100%;
    border-collapse: collapse;
}

.t-cashflow thead tr th {
    /* width: 138px; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 2px;
    color: var(--color-font);
    font-size: 16px;
    background-color: #b6b80b;
    /* border:1px solid; */
}
.t-cashflow thead tr th:nth-child(1) {
    text-align: left;
    padding-left: 6px;
}
.t-cashflow td {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    /* border:1px solid; */
    font-size: 13px;
    color: var(--color-font);
}
.t-cashflow tbody td:first-child {
    /* background-color: #f1f1f1; */
    color: #121111;
    font-size: 15px;
    width: 56px;
}
.t-cashflow tbody td:nth-child(2) {
    text-align: center;
}
.cash-form-search input {
    width: 200px;
}
.tb-expense {
    background-color: #bdc3c7 !important;
}
.tb-income {
    background-color: #bdc3c7 !important;
}
.tb-balance {
    background-color: #bdc3c7 !important;
}

/*
###############
### REGISTER ##
###############
*/
.overlayer {
    width: 100%;
    height: 50vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.container-register {
    width: 100%;
    max-width: var(--width-container);
    margin: 0 auto;
}
.header-register-content {
    width: 100%;
    height: 50vh;
    position: relative;
}
.header-content-bg {
    width: 100%;
    height: 50vh;
    object-fit: center;
}
.header-content-text {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-register {
    width: 100%;
    height: 100px;
    background-color: #efefef;
    box-shadow: 2px 0 10px rgb(0 0 0 / 60%);
}

.nav-register {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-register a img {
    width: 130px;
}
.header-content-textbox {
    width: 605px;
    max-width: 100%;
    margin: 80px auto;
    text-align: center;
}
.header-content-text h1 {
    color: #fff;
    font-size: 3em;
    text-shadow: 1px 2px 6px rgba(39, 174, 96, 0.6);
    margin-bottom: 2rem;
}

@media(max-width:400px){
    .header-content-text h1{
        font-size:2rem
    }
}
.header-content-textbox p {
    color: #fff;
    font-size: 19px;
}
.header-content-textbox a {
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
}
.box-form-register {
    max-width: 600px;
    width: 100%;
    margin-top: 2rem;
}
.title-form-register {
    margin: 2rem 0;
    text-align: center;
    font-size: 16px;
}
.form-register {
    padding: 0 1rem 0 1rem;
}

/** SITE  **/

.box-container {
    width: 100%;
    max-width: var(--width-container);
    margin: 0 auto;
    background: var(--color-bg-darkmode);
    padding: 20px;
    z-index: 2;
    position: relative;
    top: -83px;
}


.box-titleimg-stack {
    margin-bottom: 3rem;
    text-align: center;
}
.box-img-stack {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img-stack img {
    width: 50px;
    height: 50px;
}
.img-stack p {
    text-align: center;
    font-weight: bold;
}
@media(max-width:400px){
    .img-stack img {
        width: 32px;
        height: 32px;
    }
    .img-stack p {
        font-size:11px
    }
}

footer {
    margin-top: 3rem;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms {
    text-align: center;
    margin-top: 100px;
}
