{{>partials/header}}
<article class="header__section">
    <div class="header__title">
        <h4>Crie transações entre carteiras</h4>
        
    </div>
</article>
<section class="app__container">
    <form data-reset="true" class="app_form" action="/between-wallet/save" method="post">
        <input type="hidden" name="action" value="create" />
        <div class="input-group">
            <label for="description">Descrição</label>
            <input
                id="description"
                name="description"
                type="text"
                class="input-control"
            />
        </div>
        <div class="ds-flex">
            <div class="input-group_g2">
                <label for="price">Valor</label>
                <input
                    id="price"
                    name="price"
                    type="text"
                    class="input-control mask-money"
                />
            </div>
            <div class="input-group_g2">
                <label for="date">data</label>
                <input
                    id="date"
                    name="date"
                    type="date"
                    class="input-control"
                />
            </div>
        </div>
        <div class="ds-flex">
            <div class="input-group_g2">
                <label for="wallet_exit">Carteira de saída</label>
                <select id="wallet_exit" class="input-control" name="wallet_exit">
                    <option value="">Escolha...</option>
                    {{#wallet}}
                    <option value="{{ id }}">{{ name }}</option>
                    {{/wallet}}
                </select>
            </div>
            <div class="input-group_g2">
                <label for="wallet_entry">Carteira entrada</label>
                <select id="wallet_entry" class="input-control" name="wallet_entry">
                    <option value="">Escolha...</option>
                    {{#wallet}}
                    <option value="{{ id }}">{{ name }}</option>
                    {{/wallet}}
                </select>
            </div>
            
        </div>
        <div class="ds-flex">
            <div class="input-group_g2">
                <label for="category_exit">Categoria de saida</label>
                <select id="category_exit" class="input-control" name="category_exit">
                    <option value="">Escolha...</option>
                    {{#categoryExpense}}
                    &ofcir;&nbsp;
                    <option value="{{ id }}">&ofcir;&nbsp;{{ name }}</option>
                    {{/categoryExpense}}
                </select>
            </div>
            <div class="input-group_g2">
                <label for="category_entry">Categoria de entrada</label>
                <select id="category_entry" class="input-control" name="category_entry">
                    <option value="">Escolha...</option>
                    {{#categoryIcome}}
                    &ofcir;&nbsp;
                    <option value="{{ id }}">&ofcir;&nbsp;{{ name }}</option>
                    {{/categoryIcome}}
                </select>
            </div>
        </div>
        
        <div class="input-group">
            <button class="btn btn--blue">REGISTRAR</button>
            <a class="btn btn--yellow" href="/despesas">Voltar</a>
        </div>
    </form>
</section>

{{>partials/footer}}
