<div>
    <a class="btn btn--blue icon-normalize" href="/receita-create"
        ><i class="fas fa-hand-holding-usd"></i
    ></a>
    <a class="btn btn--blue icon-normalize" href="/despesa-create"
        ><i class="fas fa-shopping-cart"></i
    ></a>
</div>
