{{>partials/header}}
    <article class="header__section">
    <div class="header__title">
        <h4>Lançamentos Fixo</h4>
       {{>pages/widgets/invoice-fixed/fixed-header}}
    </div>
     
    </article>
    <section class="app__container">
       
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Ativo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
            {{#newFixed}} 
                <tr>
                    <td>{{id}}</td>
                    <td>{{due_at}}</td>
                    <td>{{description}}</td>
                    <td>{{price}}</td>
                    
                    <td>
                    {{#status}}  
                        <p data-pay="unpaid" data-type="{{type}}" data-idpay="{{id}}" class="pay-action">
                            <i class="fas fa-check-circle"></i>
                        </p>
                    {{/status}}
                    {{^status}}
                        <p data-pay="paid" data-type="{{type}}" data-idpay="{{id}}" class="pay-action">
                            <i class="fas fa-times-circle"></i>
                        </p>
                    {{/status}} 
                        
                    </td>
                    <td><a href="/fixed-edit?id={{id}}" ><i class="fas fa-edit"></i></a></td>
                </tr>
            {{/newFixed}} 
            {{^newFixed}}
                <tr>
                    <td colspan="6">Não encontramos registros</td>
                </tr>
            {{/newFixed}}
            </tbody>
        </table>
        
    </section>
{{>partials/footer}}