{{>partials/header-register}}

<section class="terms">
    <p>
        No momento não é possível criar novos usuários, para conhecer utilize o
        usuário teste na tela de login
    </p>
</section>

{{>partials/footer-register}}
