{{>partials/header}}
<article class="header__section">
    <div class="header__title">
        <h4>Perfil</h4>
    </div>
</article>
<section class="app__container">
    <form
        class="app_form"
        action="/user-save"
        method="post"
        enctype="multipart/form-data"
    >
        <div class="capa_perfil">
            {{#cover}}
            <img
                class="rounded perfil-img"
                data-cover="cover-img"
                src="{{ findUser.photo }}"
            />
            {{/cover}}
            {{^cover}}
            <img
                class="rounded perfil-img"
                data-cover="cover-img"
                src="images/user.png"
            />
            {{/cover}}
            <div class="upload_img_perfil">
                <label class="icon-normalize" for="user_perfil"
                    ><i class="fas fa-camera-retro"></i
                ></label>
            </div>
        </div>

        <!-- ACTION SPOOFING-->
        <input type="hidden" name="action" value="update" />
        <input type="hidden" name="user_id" value="{{ findUser.id }}" />

        <div class="ds-flex flex-column">
            <div class="input-group_g2">
                <label>Nome</label>
                <input
                    type="text"
                    class="input-control"
                    name="first_name"
                    value="{{ findUser.first_name }}"
                />
            </div>
            <div class="input-group_g2">
                <label>Sobrenome</label>
                <input
                    type="text"
                    class="input-control"
                    name="last_name"
                    value="{{ findUser.last_name }}"
                />
            </div>
        </div>

        <div class="input-group">
            <label>Gênero:</label>
            <select class="input-control" name="genre">
                <option {{selMale}} value="male">Masculino</option>
                <option {{selFemale}} value="female">femenino</option>
            </select>
        </div>
        <div class="input-group">
            <input
                id="user_perfil"
                type="file"
                class="input-control"
                data-cover="preview"
                name="files"
                placeholder="Imagem de perfil"
            />
        </div>

        <div class="ds-flex flex-column">
            <div class="input-group_g2">
                <label>Nascimento</label>
                <input
                    type="date"
                    class="input-control"
                    name="datebirth"
                    value="{{ findUser.datebirth }}"
                />
            </div>
            <div class="input-group_g2">
                <label>Documento</label>
                <input
                    type="text"
                    class="input-control mask-doc"
                    name="document"
                    value="{{ findUser.document }}"
                />
            </div>
        </div>
        <div class="ds-flex flex-column">
            <div class="input-group_g2">
                <label>Email</label>
                <input
                    type="email"
                    class="input-control"
                    name="email"
                    value="{{ findUser.email }}"
                />
            </div>
            <div class="input-group_g2">
                <label>Senha</label>
                <input
                    type="password"
                    class="input-control"
                    name="passwd"
                    placeholder="Digite uma senha caso deseje realizar alteração"
                />
            </div>
        </div>

        <button class="btn btn--green">Atualizar</button>
    </form>
</section>

{{>partials/footer}}
