{{>partials/header-register}}

<section class="header-register-content">
    <img class="header-content-bg" src="images/bg-register.jpg">
    <div class="header-content-text">
        <div class="header-content-textbox">
            <h1>Cadastre-se e comece a controlar !</h1>
            
        </div>
    </div>
</section>

<section class="app__container">

    <div class="box-img-stack">
        <div class="img-stack">
            <img src="/images/html-1.svg">
            <p>Html</p>
        </div>
        <div class="img-stack">
            <img src="/images/css-3.svg">
            <p>
                Css
            </p>
        </div>
        <div class="img-stack">
            <img src="/images/logo-javascript.svg">
            <p>Javascript</p>
        </div>
        <div class="img-stack">
            <img src="/images/nodejs-icon.svg">
            <p>Nodejs</p>
        </div>
    </div>
</section>
<div class="title-form-register">
    <p>
        Já tem uma conta ?
        <a href="/login">realize login</a>
    </p>
    <p>ou crie sua conta </p>
</div>
<section class="app__container box-form-register">
    <div class="form-register">
       
        <form class="app_form">
            <div class="input-group">
                <label><i class="fas fa-user"></i>Nome:</label>
                <input class="input-control" type="text" placeholder="Nome">
            </div>
            <div class="input-group">
                <label><i class="fas fa-user-plus"></i>Sobre nome:</label>
                <input class="input-control" type="text" placeholder="Sobre nome">
            </div>
            <div class="input-group">
                <label><i class="far fa-envelope"></i>Email:</label>
                <input class="input-control" type="email" placeholder="Seu melhor email">
            </div>
            <div class="input-group">
                <label><i class="fas fa-key"></i>Senha de acesso:</label>
                <input class="input-control" type="password" placeholder="Crie uma senha">
            </div>
            <div class="input-group">
                <button class="btn btn--blue">Cadastrar</button>
            </div>
        </form>
    </div>
</section>



{{>partials/footer-register}}