<footer>
    <a href="https://devbymarcos.com">
        <img width="200" src="images/logo.svg">
    </a>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="js/jquery-form.js"></script>
 <script src="js/jquery-ui.min.js"></script>
 <script src="js/main.js"></script>
</body>
</html>