<!DOCTYPE html>
<html>
<head>
    <title>My Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/boot.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    

    <!-- end favicon -->



</head>
<body>
<base data-const="<?=url()?>">
<div class="ajax_response"></div>
<div class="ajax_load">
    <div class="ajax_load_box">
        <div class="ajax_load_box_circle"></div>
        <p class="ajax_load_box_title">Aguarde, carregando...</p>
    </div>
</div>
