<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My wallet</title>

   <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">  
    
    <link href="css/boot.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/4ac3a9c276.js" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    
</head>
<body>
<base id="basepath" path="" >

<!-- Ajax load -->
<div class="ajax_load" style="z-index: 999;">
    <div class="ajax_load_box">
        <div class="ajax_load_box_circle"></div>
        <p class="ajax_load_box_title">Aguarde, carregando...</p>
    </div>
</div>
<!-- Ajax load -->

<!-- Ajax respsonse -->
<div class="ajax_response"></div>
<!-- Ajax respsonse -->


<!-- vavegação Mobile -->
<div class="mobile__menu">
    <div class="mm__header">
    <div class="mm-logo">
        <img class="logo--mobile" src="images/logo-mywallet-white.png">
    </div>
    <div  class="mm-buttons btn-mobile">
        <i class="fas fa-align-right"></i>
    </div>
    </div>
    <nav class="navigation__mobile">
    <ul>
        <li class="nm__item"><a href="/"><i class="fas fa-tachometer-alt"></i>Dash</a></li>
        <li class="nm__item"><a href="/carteiras"><i class="fas fa-wallet"></i>Carteira</a></li>
        <li class="nm__item"><a href="/categorias"><i class="fas fa-tag"></i>Categorias</a></li>
        <li class="nm__item"><a href="/receitas"><i class="fas fa-hand-holding-usd"></i>Receitas</a></li>
        <li class="nm__item"><a href="/despesas"><i class="fas fa-shopping-cart"></i>Despesas</a></li>
        <li class="nm__item"><a href="/fixo"><i class="fas fa-thumbtack"></i>Fixo</a></li>
        <li class="nm__item"><a href="/fluxo-caixa"><i class="fas fa-chart-line"></i>Cashflow</a></li>
        
    </ul>
    </nav>  
</div>


<!-- vavegação Mobile -->

<!-- topo e navegação -->
<header class="header">
    <div class="header__info">
        <div class="header__logo">
            <img class="logo--used" src="images/logo-mywallet.png">
            <img class="logo--dark" src="images/logo-mywallet-white.png">   
        </div>
        <div class="header__user">
             <img src="images/user.png">
           
            <a href="/perfil">{{userName}}</a>
            <a href="/logoff">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
    <div class="header__navigation">
        <nav>
        <ul>
            <li><a href="/"><i class="fas fa-tachometer-alt"></i>Dash</a></li>
            <li><a href="/carteiras"><i class="fas fa-wallet"></i>Carteira</a></li>
            <li><a href="/categorias"><i class="fas fa-tag"></i>Categorias</a></li>
            <li><a href="/receitas"><i class="fas fa-hand-holding-usd"></i>Receitas</a></li>
            <li><a href="/despesas"><i class="fas fa-shopping-cart"></i>Despesas</a></li>
            <li><a href="/fixo"><i class="fas fa-thumbtack"></i>Fixo</a></li>
            <li><a href="/fluxo-caixa"><i class="fas fa-chart-line"></i>Cashflow</a></li>
            
        </ul>
        </nav>
    </div>
</header>
<!-- topo e navegação -->