<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Wallet | Registre-se</title>
        <link href="css/boot.css" rel="stylesheet" />
        <link href="css/theme.css" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="ajax_response"></div>
        <div class="ajax_load">
            <div class="ajax_load_box">
                <div class="ajax_load_box_circle"></div>
                <p class="ajax_load_box_title">Aguarde, carregando...</p>
            </div>
        </div>
        <header class="header-register">
            <nav class="nav-register container-register">
                <div class="logo-register">
                    <a href="/registro">
                        <img src="images/logo-mywallet.png" />
                    </a>
                </div>
                <div class="nav-links">
                    <a class="btn btn--blue" href="/login">Fazer Login</a>
                </div>
            </nav>
        </header>
    </body>
</html>
