<!DOCTYPE html>
<html>
    <head>
        <title>My Wallet | Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="css/boot.css" rel="stylesheet" />
        <link href="css/theme.css" rel="stylesheet" />
        <link href="css/login.css" rel="stylesheet" />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/favicon/apple-touch-icon.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/favicon/android-chrome-144x144.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        <link
            rel="mask-icon"
            href="/favicon/safari-pinned-tab.svg"
            color="#5bbad5"
        />

        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet"
        />

        <!-- end favicon -->
    </head>
    <body>
        <div class="ajax_response"></div>
        <div class="ajax_load">
            <div class="ajax_load_box">
                <div class="ajax_load_box_circle"></div>
                <p class="ajax_load_box_title">Aguarde, carregando...</p>
            </div>
        </div>
    </body>
</html>
