<?php $render('header-login'); ?>
<div class="card login-card">
    <div class="card-body">
        <div class="brand-wrapper">
            <img width="150"  src="images/logo-mycontrol.png" alt="logo">
        </div>
        <!--NEW PASSWD-->
        <div data-action="forget" class="box-login form-step">
            <p class="login-card-description">Crie uma nova senha</p>
            <form class="app_form" action="/login-recovery" method="post">
               
                <!-- ACTION SPOOFING-->
                <input type="hidden" name="action" value="update" />
                <input type="hidden" name="token" value="<?= $token->forget ?>">
                <input type="hidden" name="user_id" value="<?= $token->id ?>">
                <div class="col  input-group">
                    <label class="icon-unlock-alt">Nova Senha:</label>
                    <input type="password" class="input-control" name="passwd">
                </div>
                <div class="col input-group">
                    <label class="icon-unlock-alt"> Repita Senha:</label>
                    <input type="password" class="input-control" name="passwd_repeat">
                </div>

                <div class="col  input-group">
                    <button class="btn login-btn">ALTERAR</button>
                </div>
            </form>
            <div class="footer_login">
                <p><a href="<?= url('/login') ?>">Já tenho a senha</a></p>
            </div>

        </div>
    </div>
</div>
<?php $render('footer-login'); ?>