{{>partials/header}}
    <article class="header__section">
        <div class="header__title">
            <h4>Extrato</h4>
            
        </div>
   
    </article>
    <section class="app__container">
        <div class="form__filter">
            <form id="extract" class="ajax_off" action="/extrato-filter" method="POST">
                <input type="date"  class="input-control "  name="date1" >
                <input type="date"  class="input-control "  name="date2">
                <select class="input-control " name="wallet">
                    <option value="">Escolha...</option>
                    {{#wallet}}
                        <option value="{{id}}">{{name}}</option>
                    {{/wallet}}
                </select>
                <button id="extractBtn" class="btn btn--blue icon-normalize"><i class="fas fa-filter"></i></button>
            </form>  
           
        </div>
        <div class="table-responsive">
        <h2> Total do extrato <span id="totalExtract"></span></h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody id="tbody">
                
                <tr>
                    <td colspan="6">Utilize o filtro para buscar os Dados da sua carteira</td>
                </tr>
               
            </tbody>
        </table>
        </div>
    </section>
{{>partials/footer}}