{{>partials/header}}

<article class="header__section">
    <div class="header__title">
        <h4><i class="far fa-smile-beam"></i>&nbsp;Oooops !!</h4>
        
    </div>
    <p>Parece que você não tem permissão para acessar essa página</p>

</article>



{{>partials/footer}}