{{>partials/header}}
    <article class="header__section">
        <div class="header__title">
            <h4>Investimento</h4>
            {{>pages/widgets/expense/expense-header }}
        </div>
   
    </article>
    <section class="app__container">
        <div class="form__filter">
            <form action="/investiment-filter" method="POST">
                <input type="date"  class="input-control "  name="date1" >
                <input type="date"  class="input-control "  name="date2">
                <button class="btn btn--blue icon-normalize"><i class="fas fa-filter"></i></button>
            </form>  
            <h2 data-result></h2>  
        </div>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                   <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {{#dataInvest}}           
                <tr>
                    <td>{{date}}</td>
                    <td>{{description}}</td>
                    <td data-register="{{type}}">{{value}}</td>
                    <td>
                        {{#status}}  
                            <p data-pay="unpaid" data-type="expense" data-idpay="{{id}}" class="pay-action">
                                <i class="fas fa-check-circle"></i>
                            </p>
                        {{/status}}
                        {{^status}}
                            <p data-pay="paid" data-type="expense" data-idpay="{{id}}" class="pay-action">
                                <i class="fas fa-times-circle"></i>
                            </p>
                        {{/status}} 
                    </td>
                    <td><a href="/{{router}}?id={{id}}"><i class="fas fa-edit"></i></a></td>
                </tr>
                {{/dataInvest}}
                {{^dataInvest}}
                    <tr>
                        <td colspan="6">Não laçamentos para categoria investimentos</td>
                    </tr>
               {{/dataInvest}}
            </tbody>
        </table>
        </div>
    </section>
{{>partials/footer}}