{{>partials/header}}
    <article class="header__section">
        <div class="header__title">
            <h4>Categorias</h4>
            {{>pages/widgets/category/category-header}}
        </div>        
       
    </article>
    <section class="app__container">
        <form class="app_form"  action="/category/save" method="post">
            <input type="hidden" name="action" value="create">
            <div class="form-inline">
                <div class="input-group_g2">
                    <label>Nome categoria</label>
                    <input class="input-control" name="name" type="text">
                </div>
                <div class="input-group_g2 ">
                    <label>Type</label>
                    <select class="input-control"   name="type">
                        <option value="income">Receitas</option>
                        <option value="expense">Depesas</option>
                    </select>

                </div>
            </div>
            <div class="input-group">
                <label>Descrição</label>
                <textarea name="description"></textarea>
            </div>
            <div class="input-group">
                <button class="btn btn--blue">Salvar</button>
                <a href="/categorias" class="btn btn--yellow">Voltar</a>
            </div>
        </form>
   
       
    </section>
{{>partials/footer}} 