{{>partials/header}}
    <article class="header__section">
        <div class="header__title">
            <h4>Categorias</h4>
            {{>pages/widgets/category/category-header}}
        </div>       
        <hr>
    </article>
    <section class="app__container">
        <form class="app_form"  action="/category/save" method="post">
            <input type="hidden" name="action" value="update">
            <input type="hidden" name="category_id" value="{{category.id}}">
            <div class="form-inline">
                <div class="input-group_g2">
                    <label>Nome categoria</label>
                    <input class="input-control" name="name" type="text" value="{{category.name}}">
                </div>
                <div class="input-group_g2 ">
                    <label>Type</label>
                    <select class="input-control"   name="type">
                        <option {{selects.selIncome}} value="income">Receita</option>
                        <option {{selects.selExpense}}  value="expense">Depesa</option>
                    </select>

                </div>
            </div>
            <div class="input-group">
                <label>Descrição</label>
                <textarea name="description">{{category.description}}</textarea>
            </div>
            <div class="input-group">
                <button class="btn btn--blue">Salvar</button>
                <button class="btn btn--red"
                    data-post="/category/save"
                    data-id="{{category.id}}"
                    data-action="delete"
                    data-confirm="Deseja apagar a Carteira ? Todos os registro dessa carteira serão removidos">Delete</button>
                <a href="/categorias" class="btn btn--yellow">Voltar</a>
            </div>
        </form>
   
       
    </section>
{{>partials/footer}} 